<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECOMMERCE</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>

</html>