<link rel="stylesheet" href="/loginStyle.css">
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper">
                <a class="brand-wrapper m-auto" href="/">
                    <img src="logo.svg" alt="logo" class="logo">
                </a>
                <div class="login-wrapper m-auto">
                    <h1 class="login-title">Log in</h1>
                    <form method="POST" action="/login">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email@example.com">
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="enter your passsword">
                        </div>
                        <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
                    </form>
                    <a href="#!" class="forgot-password-link">Olvidaste tu contraseña?</a>
                    <p class="login-wrapper-footer-text">
                        No tienes cuenta? <a href="/registro" class="text-reset">Registrate aquí</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://images.unsplash.com/photo-1540224769541-7e6e20a42330?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                    alt="login image" class="login-img">
            </div>
        </div>
    </div>
</main>