<h1 style="text-align: center;">PRODUCTOS</h1>
<table class="table m-auto" style="max-width: 1080px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Habilitado</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        {{#each Productos}}
        <tr>
            <th scope="row">{{id_producto}}</th>
            <td>{{txt_nombre}}</td>
            <td>
                {{#ifCond sn_habilitado '==' 1}}
                <span class="badge badge-success">Habilitado</span>
                {{else}}
                <span class="badge badge-danger">Inhabilitado</span>
                {{/ifCond}}
            </td>
            <td><a href="/admin/productos/{{id_producto}}"> Ver mas ...</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>